<!DOCTYPE html>
<html>
  <head>
    <title>Wildlife Tracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= flash[:alert] %>
    <%= flash[:notice] %>
    <nav>
      <li><%= link_to "Home Page", '/' %></li>
      <li><%= link_to "Regions Page", regions_path %></li>
    </nav>
    <%= yield %>
  </body>
</html>
